<div class="navbar yamm navbar-default">
    <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-2" class="navbar-toggle">
            <i class="fa fa-bars"></i> Categories
        </button>
    </div>
    <div id="navbar-collapse-2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% for genre in genres|slice(0,5) %}
                <li><a href="">{{ genre.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>